<div class="actions">
    <app-search [(searchTerm)]="searchTerm" class="search" />
    <a matButton="filled" routerLink="create" class="add-transaction">
        Adicionar transação
    </a>
</div>

@if(isLoading()) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
<app-transaction-container [transactions]="transactions()">
    <ng-template #item let-item="item">
        <app-transaction-item class="transaction" [transaction]="item" (edit)="edit($event)"
            (remove)="remove($event)" />
    </ng-template>

    <ng-template #noItem>
        <app-no-transaction />
    </ng-template>
</app-transaction-container>
}